{% extends 'base.html' %}
<!--Prettier Ignore-->
{% load static %}
<!--Prettier Ignore-->
{% block title %}About Us{% endblock %}


{% block content %}

<div class="container text-center">
    <h1 class="mt-5">About Us</h1>
    <p class="mb-4">Located in the picturesque coastal town of Landskrona, Sweden, Landskrona Hotel offers a quintessential blend of modern luxury and historic charm. Nestled along the stunning shoreline, our hotel provides guests with breathtaking views of the Baltic Sea and a tranquil retreat from the hustle and bustle of everyday life.</p>

    <h2>Luxurious Accommodations</h2>

    <p>Step into a world of elegance and comfort with our beautifully appointed rooms and suites. Each space is designed to reflect both contemporary style and local Scandinavian influences, ensuring a relaxing and rejuvenating stay for every guest.</p>

    <h2>Exceptional Dining</h2>

    <p>Indulge your palate at our on-site restaurant, where our talented chefs craft exquisite dishes using locally sourced ingredients. Whether you're enjoying a leisurely breakfast, a business lunch, or a romantic dinner overlooking the sea, our culinary offerings promise to delight even the most discerning food enthusiast.</p>

    <h2>Unparalleled Service</h2>

    <p>At Landskrona Hotel, our commitment to hospitality is unmatched. From the moment you arrive until your departure, our friendly and professional staff are dedicated to ensuring your every need is met with warmth and efficiency. Whether it's arranging local excursions, booking spa treatments, or providing personalized recommendations, we strive to create a seamless and memorable experience for our guests.</p>

    <h2>Explore Landskrona</h2>

    <p>Beyond the hotel, discover the charm of Landskrona itself. Wander through historic streets lined with colorful buildings, visit cultural landmarks, or simply relax on the sandy beaches nearby. With its rich history, vibrant arts scene, and stunning natural beauty, Landskrona offers something for everyone to enjoy.</p>

    <h2>Plan Your Stay</h2>

    <p>Whether you're visiting for business or pleasure, Landskrona Hotel is your ideal choice for accommodations in this enchanting coastal town. Experience luxury, comfort, and genuine hospitality at Landskrona Hotel—your home away from home in Sweden.</p>

    <h3 class="my-5">Welcome to us!</h3>
</div>

{%endblock%}