{% load static %}

<div class="container my-5">
		<div id="carouselExampleRide" class="carousel slide custom-carousel-container" data-bs-ride="true">
			<div class="carousel-inner">
				<div class="carousel-item active">
					<img
						src="{% static 'images/standard-home.webp' %}"
						class="d-block w-100 custom-carousel-img"
						alt="Standard bedroom of the hotel"
					/>
					<div class="carousel-caption d-none d-md-block">
						<div class="transparent-box">
							<h3 class="text-green">Standard Room</h3>
							<p>With a double bed and garden view.</p>
						</div>
					</div>
				</div>
				<div class="carousel-item">
					<img
						src="{% static 'images/default-room-deluxe.webp' %}"
						class="d-block w-100 custom-carousel-img"
						alt="Deluxe bedroom of the hotel"
					/>
					<div class="carousel-caption d-none d-md-block">
						<div class="transparent-box">
							<h3 class="text-green">Deluxe Room</h3>
							<p>With a queen size bed and sea view.</p>
						</div>
					</div>
				</div>
				<div class="carousel-item">
					<img
						src="{% static 'images/default-suite-room.jpg' %}"
						class="d-block w-100 custom-carousel-img"
						alt="Suite bedroom of the hotel"
					/>
					<div class="carousel-caption d-none d-md-block">
						<div class="transparent-box">
							<h3 class="text-green">Suite</h3>
							<p>With a king size bed and sea view.</p>
						</div>
					</div>
				</div>
			</div>
			<button
				class="carousel-control-prev"
				type="button"
				data-bs-target="#carouselExampleRide"
				data-bs-slide="prev"
				aria-label="Previous"
			>
				<span class="carousel-control-prev-icon" aria-hidden="true"></span>
				<span class="visually-hidden">Previous</span>
			</button>
			<button
				class="carousel-control-next"
				type="button"
				data-bs-target="#carouselExampleRide"
				data-bs-slide="next"
				aria-label="Next"
			>
				<span class="carousel-control-next-icon" aria-hidden="true"></span>
				<span class="visually-hidden">Next</span>
			</button>
		</div>
</div>

