{% extends 'base.html' %}
<!--Prettier Ignore-->
{% load static %}
<!--Prettier Ignore-->
{% block title %}Home{% endblock %}

<!--Prettier Ignore-->
{% block content %}
<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="display-4">Landskrona Hotel</h1>
        <p class="lead">Welcome to our luxorious space right by the ocean!</p>
        <p>Book a room or Sign in to view your reservations</p>
        <a class="btn btn-md btn-book" href="#" role="button">Book Now</a>
        <a class="btn btn-md" href="#" role="button">Sign In</a>
      </div>
    </div>
  </div>
</div>

<div class="container d-flex flex-column ">
  <div class="row">
    <div class="col-6 d-none d-sm-block">
      <img src="" alt="" />
    </div>
    <div class="col-12 col-sm-6 mt-5 px-5">
      <h4 class="mb-4">Nestled along the stunning coastline...</h4>
      <p>
        Landskrona Hotel offers a luxurious retreat with breathtaking ocean views, elegant rooms, and
        top-notch amenities. <br> Whether for a relaxing getaway or a business trip,
        our dedicated staff ensures a memorable stay. <br><br>
        Our hotel is located in the heart of Landskrona, a charming town with a
        rich history and vibrant culture.
      </p>
    </div>
  </div>
</div>


  <div
    class="container d-flex flex-column">
      <div class="col-12 text-center mt-5">
        <h2>Discover Our Rooms</h2>
      </div>
      {% include 'home/carousel.html' %}
  </div>

<!-- Manage Booking Details -->
<div class="container d-flex flex-row flex-wrap justify-content-center">
    <h2 class="text-center mt-4 d-block text-shadow">Manage your bookings</h2>
    <div class="container">
        <div class="row mt-5">
            <div class="col-md-4 mb-4">
                <div class="card h-100 manage-card">
                    <div class="card-body">
                        <h5 class="card-title">1. Review Details</h5>
                        <p class="card-text">View details of your booking.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card h-100 manage-card">
                    <div class="card-body">
                        <h5 class="card-title">2. Modify Reservations</h5>
                        <p class="card-text">Make changes to your booking.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-4">
                <div class="card h-100 manage-card">
                    <div class="card-body">
                        <h5 class="card-title">3. Cancel Bookings</h5>
                        <p class="card-text">Cancel your existing booking up to 24h before check in.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row my-4">
            <div class="col text-center">
                <button class="btn btn-gold">View Profile and Reservations</button>
            </div>
        </div>
    </div>
</div>

<div class="container mt-5">
    <h2 class="text-center mb-5">Contact Us</h2>
    <div class="contact-container d-flex flex-wrap justify-content-between">
        <div class="contact-info mb-4 text-center mx-2">
            <div class="details">
                <p class="text-green-p"><i class="fas fa-phone icon"></i>Phone:</p>
                <p>+12 34567890</p>
								<p>Call us for immediate assistance with your booking</p>
            </div>
        </div>
				<div class="contact-info mb-4 text-center mx-2">
            <div class="details">
								<p class="text-green-p"><i class="fas fa-envelope icon"></i>Email:</p>
								<p><a href="mailto:lahotek@example.com">lahotel@example.com</a></p>
								<p>Contact us via email for detailed support with your inquiries</p>
						</div>
        </div>
				<div class="contact-info mb-4 text-center mx-2">
            <div class="details">
							<p class="text-green-p"><i class="fas fa-map-marker-alt icon"></i>Address:</p>
							<p>123 Main Street, Landskrona, Sweden</p>
            </div>
        </div>
        <div class="google-map mb-4 mx-2">
            <!-- Google Maps Embed -->
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d35808.438385803005!2d12.809636255828911!3d55.87953933893646!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4653b5c2755d2e61%3A0x9d17c1a5e060e6f8!2sLandskrona%20Slott!5e0!3m2!1ssv!2sse!4v1719149307291!5m2!1ssv!2sse" width="100%" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>
    </div>
</div>
  <!--Prettier Ignore-->
  {% endblock %}

