{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock %}

{% block content %}
<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="display-4">Landskrona Hotel</h1>
        <p class="lead">Welcome to our luxorious space right by the ocean!</p>
        <p>Book a room or Sign in to view your reservations</p>
        <a class="btn btn-md" href="#" role="button">Book Now</a>
        <a class="btn btn-md" href="#" role="button">Sign In</a>
      </div>
    </div>
  </div>
</div>
{% endblock %}