{% extends 'base.html' %}
<!--Prettier Ignore-->
{% load static %}
<!--Prettier Ignore-->
{% block title %}Home{% endblock %}

<!--Prettier Ignore-->
{% block content %}
<div class="jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="display-4">Landskrona Hotel</h1>
        <p class="lead">Welcome to our luxorious space right by the ocean!</p>
        <p>Book a room or Sign in to view your reservations</p>
        <a class="btn btn-md btn-book" href="#" role="button">Book Now</a>
        <a class="btn btn-md" href="#" role="button">Sign In</a>
      </div>
    </div>
  </div>
</div>

<div class="container d-flex flex-column ">
  <div class="row">
    <div class="col-6 d-none d-sm-block">
      <img src="" alt="" />
    </div>
    <div class="col-12 col-sm-6 mt-5 px-5">
      <h4>Nestled along the stunning coastline</h4>
      <p>
        Landskrona Hotel offers a luxurious retreat with breathtaking ocean views, elegant rooms, and
        top-notch amenities. <br> Whether for a relaxing getaway or a business trip,
        our dedicated staff ensures a memorable stay. <br><br>
        Our hotel is located in the heart of Landskrona, a charming town with a
        rich history and vibrant culture.
      </p>
    </div>
  </div>
</div>


  <div
    class="container d-flex flex-column">
      <div class="col-12 text-center mt-5">
        <h2>Discover Our Rooms</h2>
      </div>
      {% include 'home/carousel.html' %}
  </div>

  <!--Prettier Ignore-->
  {% endblock %}
</div>
