{% extends "base.html" %} 
{% load static %} 
{% load crispy_forms_tags %}
{% load djmoney %}
<!--Prettier ignore-->
{% block title %}Booking{% endblock %} 

{% block content %}
<div class="container">
  <form method="POST" action="{% url 'booking:add_booking' %}" class="p-2 form">
    <h1 class="text-center">Book Your Stay</h1>
    {% csrf_token %} 
    {{ form|crispy}}
    <div class="text-center">
      <button type="submit" class="btn btn-gold mx-3">Book</button>
      <a href="{% url 'rooms:roomcategory' %}" class="btn btn-red my-4">Cancel</a>
    </div>
  </form>
</div>
{% endblock %}
