/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto+Slab:wght@100..900&display=swap");

:root {
  /* Fonts */
  --title: "Roboto Slab", serif;
  --main-font: "Open Sans", sans-serif;

  /* Colours */
  --cloudy-white: #f6f5f1;
  --blue: #1f8297;
  --gold: #cb9703;
  --dark-yellow: #b08307;
  --slate-green: #003940;
  --dark-red: #9c1b23;
  --dark-green: #0b5e1b;

  /* Utils */
  --smal-box-shadow: 1px -1px 7px 0 #00000061;
  --border: 1px solid #00000030;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  font-family: var(--main-font);
  color: var(--slate-green);
  overflow-y: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--main-font);
  color: var(--gold);
}

main {
  flex: 1 0 auto;
  background-color: var(--cloudy-white);
}

/* Header */
.navbar {
  background-color: var(--slate-green) !important;
  box-shadow: var(--smal-box-shadow);
}

img.logo {
  width: 8rem;
}

a.nav-link {
  color: var(--cloudy-white);
}

.active {
  border-bottom: 2px solid var(--dark-yellow);
  font-weight: 500;
  color: var(--cloudy-white) !important;
}

.dropdown-menu-right {
  right: 0;
  left: auto;
}

/* Banner */
.jumbotron {
  background-image: url("../images/la-hotel-banner.webp");
  background-size: cover;
  color: var(--cloudy-white);
  height: 35vh;
  display: flex;
  align-items: center;
}

.jumbotron h1 {
  font-family: var(--main-font);
  font-weight: 500;
  color: var(--cloudy-white);
}

.jumbotron h1,
.jumbotron p {
  margin-left: 20px;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.5), 0 0 10px rgba(0, 0, 0, 0.5),
    0 0 15px rgba(0, 0, 0, 0.5), 0 0 20px rgba(0, 0, 0, 0.5),
    0 0 25px rgba(0, 0, 0, 0.5), 0 0 30px rgba(0, 0, 0, 0.5);
}

/* Buttons */
a.btn {
  background-color: var(--dark-yellow);
  color: var(--cloudy-white);
  padding: 6px 25px;
  margin-left: 20px;
  box-shadow: var(--smal-box-shadow);
}

a.btn-book {
  background-color: var(--slate-green);
}

.btn-gold {
  background-color: var(--dark-yellow);
  width: 13rem;
}

a.btn:hover,
.btn-gold:hover,
a.btn-book:hover {
  background-color: var(--gold);
}

/* Log In, Sign Up forms */
.form {
  width: 80%;
  margin: 5% auto;
  box-shadow: var(--smal-box-shadow);
  border-radius: 5px;
}

.form-control {
  border: var(--border);
  box-shadow: var(--smal-box-shadow);
  margin-left: 10%;
  width: 80%;
}

.container-scroll {
  height: 100vh;
}

.text-gold {
  color: var(--dark-yellow);
  font-weight: 600;
}

.form-check .form-check-input {
  float: none;
  border: var(--border);
}
/* Check if ok for screenreaders */
.form-text {
  display: none;
}


/* Footer */
footer {
  background-color: var(--slate-green);
  border-top: var(--border);
}

.social-icon {
  height: 2rem;
  margin: 1rem;
  font-size: 1.4rem;
  color: var(--cloudy-white);
}

.copyright {
  color: var(--cloudy-white);
  font-size: 0.8rem;
  margin-top: 0.8rem;
}
