{% extends "base.html" %}
<!-- Prettier Ignore-->
{% load static %}
<!-- Prettier Ignore-->
{% block title %}Rooms{% endblock %}
<!-- Prettier Ignore-->
{% block content %}

<h1 class="text-center p-2 d-block my-4">Rooms</h1>

<div class="container d-flex flex-row flex-wrap justify-content-center room-categories mb-4">
	{% for category in categories %}
	<div class="card m-3 category-card" style="width: 18rem">
	<!-- Check if the category image exists -->
	{% if category.image %}
		<img
			src="{{ category.image.url }}"
			class="card-img-top"
			alt="{{ category.image_alt }}"
		/>
	{% else %}
		<!-- Display the default image if no image was uploaded -->
		<img
			src="{% static 'images/default-room.webp' %}"
			class="card-img-top"
			alt="Default Room Image"
		/>
	{% endif %}
		<div class="card-body">
			<h2 class="card-title">{{ category.category|lower|capfirst }}</h2>
			<div class="card-text">
				<p>{{ category.beds|lower|capfirst }} Bed, {{ category.capacity }} Guests</p>
				<p>{{ category.price }}</p>
				<p>{{ category.description|truncatewords:20|safe }}</p>
			</div>
			<div class="mt-auto d-flex justify-content-center">
				<a href="{% url 'rooms:roomcategory_detail' category.id %}" class="btn btn-gold">View Room</a>
			</div>
		</div>
	</div>
	{% endfor %}
</div>
{% endblock %}
