{% extends "account/base.html" %}
{% load i18n %}
{% load allauth %}
{% block head_title %}
    {% trans "Change Password" %}
{% endblock head_title %}
{% block content %}
<div class="container text-center mt-5">
    {% element h1 %}
        {% if token_fail %}
            {% trans "Bad Token" %}
        {% else %}
            {% trans "Change Password" %}
        {% endif %}
    {% endelement %}
    {% if token_fail %}
        {% url 'account_reset_password' as passwd_reset_url %}
        {% element p %}
            {% blocktrans %}The password reset link was invalid, possibly because it has already been used.
            <br>
            Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}
        {% endelement %}
    {% else %}
    <div class="form p-2">
        {% element form method="post" action=action_url %}
            {% slot body %}
                {% csrf_token %}
                {{ redirect_field }}
                {{ form|crispy }}
            {% endslot %}
            {% slot actions %}
            <button class="btn btn-gold" type="submit" name="action">
                    {% trans 'Change Password' %}
            </button>
            {% endslot %}
        {% endelement %}
        </div>
    {% endif %}
</div>
{% endblock content %}
