{% extends "account/base.html" %}
{% load i18n allauth account %}
{% block title %}
    {% trans "Password Reset" %}
{% endblock title %}

{% block content %}
    
    <div class="container text-center my-5">
        <h1>
        {% trans "Password Reset" %}
        </h1>
            
    {% if user.is_authenticated %}
        {% include "account/snippets/already_logged_in.html" %}
    {% endif %}
        <div class="form p-2">
            <p>
            {% trans "Forgotten your password? <br>Enter your email address below<br> We'll send you an email allowing you to reset it." %}
            </p>
            <!-- prettier-ignore -->
            {% url 'account_reset_password' as reset_url %}
            {% element form form=form method="post" action=reset_url %}
            {% slot body %}
                {% csrf_token %}
                {{ form|crispy }}
            {% endslot %}
            {% slot actions %}
            <button class="btn btn-gold mb-2" type="submit">
            {% trans "Reset My Password" %}
            </button>
            {% endslot %}
            {% endelement %}
            <p>
            {% blocktrans %} <strong> Contact us if you have any trouble resetting your
            password.</strong> {% endblocktrans %}
            </p>
        </div>
    </div>

{% endblock content %}

    
