/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto+Slab:wght@100..900&display=swap");

:root {
  /* Fonts */

  --title: "Roboto Slab", serif;
  --main-font: "Open Sans", sans-serif;

  /* Colours */

  --cloudy-white: #f6f5f1;
  --blue: #1f8297;
  --gold: #cb9703;
  --dark-yellow: #b08307;
  --slate-green: #003940;
  --dark-red: #9c1b23;
  --dark-green: #0b5e1b;

  /* Utils */

  --smal-box-shadow: 1px -1px 7px 0 #00000061;
  --border: 1px solid #00000030;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  font-family: var(--main-font);
  color: var(--slate-green);
  overflow-y: auto;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--main-font);
  color: var(--gold);
}

main {
  flex: 1 0 auto;
  background-color: var(--cloudy-white);
}

/* Header */

.navbar {
  background-color: var(--slate-green) !important;
  box-shadow: var(--smal-box-shadow);
}

img.logo {
  width: 8rem;
}

a.nav-link {
  color: var(--cloudy-white);
}

a.nav-link:hover {
  color: var(--gold);
}

.active {
  border-bottom: 2px solid var(--dark-yellow);
  font-weight: 500;
  color: var(--cloudy-white) !important;
}

.fa-user {
  color: var(--cloudy-white);
  font-size: 1.2rem;
}

.fa-user:hover {
  color: var(--dark-yellow);
}

.navbar-toggler {
  border: none;
}

.navbar-toggler-icon {
  color: var(--cloudy-white);

}

.dropdown-menu-right {
  right: 0;
  left: auto;
}

/* Banner */

.jumbotron {
  background-image: url("../images/la-hotel-banner.e8786779cf62.webp");
  background-size: cover;
  color: var(--cloudy-white);
  height: 35vh;
  display: flex;
  align-items: center;
}

.jumbotron h1 {
  font-family: var(--main-font);
  font-weight: 500;
  color: var(--cloudy-white);
}

.jumbotron h1,
.jumbotron p {
  margin-left: 20px;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.5), 0 0 10px rgba(0, 0, 0, 0.5),
    0 0 15px rgba(0, 0, 0, 0.5), 0 0 20px rgba(0, 0, 0, 0.5),
    0 0 25px rgba(0, 0, 0, 0.5), 0 0 30px rgba(0, 0, 0, 0.5);
}

/* Buttons */

a.btn {
  background-color: var(--dark-yellow);
  color: var(--cloudy-white);
  box-shadow: var(--smal-box-shadow);
}

a.btn-book {
  background-color: var(--slate-green);
}

a.btn-red {
  background-color: var(--dark-red);
  color: var(--cloudy-white);

}

.btn-red {
  background-color: var(--dark-red);
  color: var(--cloudy-white);
  width: 13rem;
  box-shadow: var(--smal-box-shadow);
}

.btn-book {
  background-color: var(--slate-green);
  color: var(--cloudy-white);
  box-shadow: var(--smal-box-shadow);
}

.btn-gold {
  background-color: var(--dark-yellow);
  width: 13rem;
  color: var(--cloudy-white);
  box-shadow: var(--smal-box-shadow);
}

a.btn:hover,
.btn-gold:hover,
a.btn-book:hover,
.btn-book:hover,
.btn-red:hover {
  background-color: var(--gold);
}

/* Log In, Sign Up, Booking forms */

.form {
  width: 80%;
  margin: 5% auto;
  box-shadow: var(--smal-box-shadow);
  border-radius: 5px;
}

.form-label {
  font-size: 1.1rem;
}

.form-control {
  border: var(--border);
  box-shadow: var(--smal-box-shadow);
  margin-left: 10%;
  width: 80%;
}

.container-scroll {
  height: 100vh;
}

.text-gold {
  color: var(--dark-yellow);
  font-weight: 600;
}

.text-gold:hover {
  color: var(--slate-green);
}

.form-check .form-check-input {
  float: none;
  border: var(--border);
}
/* Check if ok for screenreaders */

.form-text {
  display: none;
}

/* Home Page Image */

.img-fluid {
  max-width: 100%;
  height: 290px;
  border-radius: 5px;
  box-shadow: var(--smal-box-shadow);
  margin-top: 3.3rem;
}

/* Carousel Images*/

.custom-carousel-container {
  max-width: 85%;
  margin: 0 auto;
}

.carousel-item img {
  max-height: 550px;
  border-radius: 5px;
}

.text-green {
  color: var(--slate-green);
  font-size: 1.6rem;
  font-weight: 600;
}

.transparent-box {
  display: inline-block;
  padding: 10px;
  border-radius: 5px;
  border: var(--border);
  background-color: rgba(
    246,
    245,
    241,
    0.5
  ); /* Semi-transparent white background */
  color: #333;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* Home page manage account Cards */

.text-green-p {
  color: var(--slate-green);
  font-weight: 600;
  font-size: 1.2rem;
}

.manage-card,
.category-card {
  border: 1px solid var(--dark-yellow);
  background-color: #f9f9f9;
  box-shadow: var(--smal-box-shadow);
}

.category-card {
  transition: transform 0.4s ease, box-shadow 0.3s ease;
}

.category-card:hover {
  transform: scale(1.05); 
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.7); /* Adds a stronger shadow for pop-out effect */
}

/* Contact Section on Home Page */

.contact-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.contact-info {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid var(--dark-yellow);
  box-shadow: var(--smal-box-shadow);
  border-radius: 5px;
}

.contact-info .icon {
  font-size: 24px;
  margin-right: 15px;
}

.contact-info .details {
  flex-grow: 1;
}

/* Room Category Detail Page */
.back-icon {
  font-size: 2rem;
  color: var(--dark-yellow);
}

.back-icon:hover {
  color: var(--gold);
  cursor: pointer;
}

/* Profile Page */
.profile-logo-img img {
  border-radius: 5px;
  box-shadow: var(--smal-box-shadow);
}

/* Profile Modal */
.close-icon {
  font-size: 2rem;
  cursor: pointer;
}

.modal-content {
    max-height: calc(100vh - 100px);
    overflow-y: auto;
}

/* Footer */
footer {
  background-color: var(--slate-green);
  border-top: var(--border);
}

.social-icon {
  height: 2rem;
  margin: 1rem;
  font-size: 1.4rem;
  color: var(--cloudy-white);
}

.copyright {
  color: var(--cloudy-white);
  font-size: 0.8rem;
  margin-top: 0.8rem;
}

/* Suceess and Error Messages */

.message-container {
  position: fixed;
  top: 5.6rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1050; /* Ensure it's above other elements */
  width: 90%;
  max-width: 600px;
  text-align: center;
  padding: 0 15px; 
}

.custom-success {
  background-color: var(--dark-green);
  color: var(--cloudy-white);
  border: 1px solid var(--slate-green);
  padding: 10px;
  border-radius: 5px;
  margin: 10px 0;
}

.custom-error {
  background-color: var(--dark-red); 
  color: var(--cloudy-white);
  border: 1px solid #4f0409;
  padding: 10px;
  border-radius: 5px;
  margin: 10px 0;
}
